CONFIG_ARM=y
CONFIG_ARCH_S5PC1XX=y
CONFIG_TARGET_WSTAR=y
CONFIG_IDENT_STRING=" for WSTAR"
# CONFIG_MMC is not set
CONFIG_DEFAULT_DEVICE_TREE="s5pc1xx-smdkc100"
CONFIG_BOOTDELAY=3
CONFIG_HUSH_PARSER=y
CONFIG_SYS_PROMPT="WSTAR # "
# CONFIG_CMD_IMLS is not set
# CONFIG_CMD_FLASH is not set
# CONFIG_CMD_SETEXPR is not set
CONFIG_CMD_CACHE=y
CONFIG_CMD_FAT=y
